html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 943px; 
    
    margin: 0 auto;
    background: #FFFFFF;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 45px;
    margin-bottom: 123px;
}

.footer_text {
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
}